body{
    min-height: 100vh;
    background-color:rgba(0, 51, 219, 0.822) !important;
}
.cardMiddle{
    min-height: 75vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardColor {
    background-color: rgb(241, 241, 241);
}
.pointer:hover {
    cursor: pointer;
}

.quiz-card:hover {
    background-color: rgb(246, 247, 255);
}

.pokalImg {
    width: 40%;
    object-fit:cover;
    display: flex; 
    flex-direction: column;
    align-items: center;
}
.endScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}
.navbar h1{
    font-size: 36px !important;
}

